{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}

<!-- Contact widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    <ul class="fa-ul" itemscope>

      {{ with $.Site.Params.email }}
      <li>
        <!-- <i class="fa&#45;li fa fa&#45;envelope fa&#45;2x" aria&#45;hidden="true"></i> -->
        <span id="person-email" itemprop="email">
        {{- if $autolink }}<a href="mailto:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.keybase }}
      <li>
        <!-- <i class="fa&#45;li fa fa&#45;lock fa&#45;2x" aria&#45;hidden="true"></i> -->
        <span>
          <a href="https://keybase.io/{{ . }}" target="_blank">@{{ . }}</a> on Keybase.
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.phone }}
      <li>
        <!-- <i class="fa&#45;li fa fa&#45;phone fa&#45;2x" aria&#45;hidden="true"></i> -->
        <span id="person-telephone" itemprop="telephone">
        {{- if $autolink }}<a href="tel:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.skype }}
      <li>
        <!-- <i class="fa&#45;li fa fa&#45;skype fa&#45;2x" aria&#45;hidden="true"></i> -->
        <span>
        {{- if $autolink }}<a href="skype:{{ . }}?call">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.telegram }}
      <li>
        <!-- <i class="fa&#45;li fa fa&#45;telegram fa&#45;2x" aria&#45;hidden="true"></i> -->
        <span>
        {{- if $autolink }}<a href="https://telegram.me/{{ . }}" target="_blank">@{{ . }}</a>{{ else }}@{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with $.Site.Params.address }}
      <li>
        <!-- <i class="fa&#45;li fa fa&#45;map&#45;marker fa&#45;2x" aria&#45;hidden="true"></i> -->
        <span id="person-address" itemprop="address">{{ . }}</span>
      </li>
      {{ end }}

      {{ with $.Site.Params.office_hours }}
      <li>
        <!-- <i class="fa&#45;li fa fa&#45;clock&#45;o fa&#45;2x" aria&#45;hidden="true"></i> -->
        <span>{{ . }}</span>
      </li>
      {{ end }}

    </ul>

  </div>
</div>
