[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/wowchemy/starter-academic.git
[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
