.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 26px;
}

.portrait-title h2 {
  font-size: 20px;
}

.portrait-title h3 {
  font-size: 18px;
}

.big-icon {
  font-size: 1.5rem;
}

.card h4 {
  text-transform: none;
}

.card-body {
  padding: 1rem 1.25rem 0.6rem 1.25rem;
}

#profile {
  padding: 0px;
}

p img {
  height: 1.1rem;
  width: auto;
  display: inline;
}

footer {
  margin: 2rem 0 0;
}

.contact-widget li {
  padding-top: 0.5rem; /* Align text with bottom of `fa-2x` icon. */
  margin-bottom: 0.3rem;
}
