.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 26px;
}

.portrait-title h2 {
  font-size: 20px;
}

.portrait-title h3 {
  font-size: 18px;
}

.big-icon {
  font-size: 1.5rem;
}

.card h4 {
  text-transform: none;
}

#profile {
  padding: 0px;
}

p img {
  height: 1.1rem;
  width: auto;
  display: inline;
}

footer {
  margin: 2rem 0 0;
}

.contact-widget li {
  padding-top: 0.5rem; /* Align text with bottom of `fa-2x` icon. */
  margin-bottom: 0.3rem;
}

.typewriter {
  display: inline-block;
  color: #586e75;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  font-family: Source Code Pro;
  font-size: 24px;
  border-right: .15em solid #cb4b16; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter:before {
  content: ">";
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 30% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #cb4b16; }
}
