<footer class="site-footer">
  <div class="container">
    <p class="powered-by">
      <span class="pull-left" aria-hidden="true">
        &copy; 2012 - {{ now.Format "2006" }} {{ .Site.Params.Title }}
      </span>

      <a href = "mailto:earo.wang@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a> &middot; 
      <a href = "https://twitter.com/earowang" target="_blank"><i class="fa fa-twitter"></i></a> &middot;
      <a href = "https://github.com/earowang" target="_blank"><i class="fa fa-github-alt"></i></a> &middot;
      <a href = "https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><i class="fa fa-creative-commons" aria-hidden="true"></i></a>

      <span class="pull-right" aria-hidden="true">
        <a href="#" id="back_to_top">
          <span class="button_icon">
            <i class="fa fa-chevron-circle-up fa-2x"></i>
          </span>
        </a>
      </span>

    </p>
  </div>
</footer>
