{{ define "main" }}
{{ "<!-- Hexagon Stylesheet -->" | safeHTML }}
{{ $hexagons := resources.Get "css/hexagon.css" | minify }}
<link rel="stylesheet" href="{{ $hexagons.Permalink | relURL}}">

{{ "<!-- Index -->" | safeHTML }}
{{ $index := resources.Get "css/index.css" | minify }}

<link rel="stylesheet" href="{{ $index.Permalink | relURL}}">

{{ "<!-- Custom -->" | safeHTML }}
{{ $custom := resources.Get "css/custom.css" | minify }}
<link rel="stylesheet" href="{{ $custom.Permalink | relURL}}">
<section>
  <div class="uk-container uk-container-small uk-margin-medium-top uk-margin-small-bottom">
    <p class="uk-text-large uk-text-light">{{ .Site.Data.homepage.banner.title | markdownify }}<p>
  </div>


</section>


<!-- portfolio -->
{{ if .Site.Data.homepage.portfolio.enable }}

<section class="uk-margin-large-bottom uk-margin-large-top">
  <div class="uk-container">
    <h1 class="uk-heading-line  uk-heading-medium"><span>Portfolio</span></h1>
    {{ range .Site.Data.homepage.portfolio.item }}
    <div>
      <h2 class="uk-text-center uk-text-bold uk-margin-large-top"> {{.title}} </h2>
      <div class="uk-flex uk-flex-center">
        <img src="{{.image}}" class="uk-width-medium uk-width-large@s uk-height-large contain" >
      </div>
        <p class="uk-text-center">{{.description}}</p>  
        <div class="uk-flex uk-flex-center">
          <div uk-grid>
            {{ range .tools}}
            <div>
              <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/{{.}}.svg" />
            </div>
            {{end}}
          </div>
        </div>
        <div class="uk-flex uk-flex-center uk-margin-medium-top"> 
          <a href="{{.link}}" class="uk-text-center">Find out more</a>
        </div>
    </div>
    {{end}}

</section>
{{ end }}


<!--

  ______                                _
  |  ____|                              (_)
  | |__    __  __  _ __     ___   _ __   _    ___   _ __     ___    ___
  |  __|   \ \/ / | '_ \   / _ \ | '__| | |  / _ \ | '_ \   / __|  / _ \
  | |____   >  <  | |_) | |  __/ | |    | | |  __/ | | | | | (__  |  __/
  |______| /_/\_\ | .__/   \___| |_|    |_|  \___| |_| |_|  \___|  \___|
  | |
  |_|

-->




<!-- experience -->
{{ if .Site.Data.homepage.experience.enable }}

{{ range .Site.Data.homepage.experience.item }}
<div id="{{cond (isset . "titlealt") .titlealt (replace (replace .title ' ' '_') '.' '_') }}" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">{{.title}}</h2>
    </div>
    <p>{{.description | markdownify }}</p>
  </div>
</div>
{{ end }}

<section class="uk-margin-medium-bottom">
  <div class="uk-container uk-container-xsmall">
    <h2 class="uk-heading-divider uk-heading-xsmall"><span>Jobs</span></h1>

    <div class="uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-2 uk-text-center uk-flex-center"
         uk-grid>
      {{ range .Site.Data.homepage.experience.item }}
      <div class="uk-card uk-width-1-2@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle uk-flex-center" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-square" width="80" height="80" src="{{.logo}}" alt="{{.company}}" loading="lazy">
            </div>
            <div class="uk-width-auto uk-text-left" style="cursor: pointer"
                                                    uk-toggle="target: #{{ cond (isset . "titlealt") .titlealt (replace (replace .title ' ' '_') '.' '_')}}">
              <h3 class="uk-card-title uk-margin-remove-bottom">{{.title}}</h3>
              <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">{{.company}}</p>
              <p class="uk-text-meta uk-margin-remove-top">{{.duration}}</p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

  </div>

</section>
{{ end }}

{{ if .Site.Data.homepage.skill.enable }}

<section class="uk-margin-medium-bottom">
  <div class="uk-container uk-container-xsmall">
    <h2 class="uk-heading-divider uk-heading-xsmall"><span>Skills</span></h1>

    <!-- <p class="uk&#45;text&#45;center uk&#45;text&#45;lead"><i>Click the images below to find out more</i></p> -->
    <div class="uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-2 uk-text-center uk-flex-center"
         uk-grid>
      {{ range .Site.Data.homepage.skill.item }}
      <div class="imagemargin">
        <img class="contain skills" src="{{.logo}}" alt="{{.company}}" loading="lazy">
      </div>
      {{ end }}
    </div>

  </div>

</section>
{{ end }}




{{ end }}
